@import 'styles/theme.scss';

:host {
    display: inline-block;
}

// Custom styling overrides for nz-checkbox if needed
::ng-deep .ant-checkbox-inner {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
    border-radius: 4px;
}

::ng-deep .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--app-primary-color);
    border-color: var(--app-primary-color);
}

::ng-deep .ant-checkbox-wrapper:hover .ant-checkbox-inner,
::ng-deep .ant-checkbox:hover .ant-checkbox-inner,
::ng-deep .ant-checkbox-input:focus+.ant-checkbox-inner {
    border-color: var(--app-primary-color);
}